{{!-- PLANTILLA PARA MOSTRAR UN FOOTER :)  --}}

<footer class="footer bg-gray-800 text-white py-6">
    <div class="footer-content container mx-auto text-center">
        <p class="text-sm">&copy; {{currentYear}} Luz Torres. All rights reserved.</p>
        <p class="text-sm mt-2">Pre entrega final Backend 1 - Coderhouse</p>
    </div>
</footer>
