{{!-- PLANTILLA PARA MOSTRAR EL HEADER --}}

<header class="bg-blue-600 text-white p-4 shadow-md">
    <nav class="container mx-auto flex justify-between items-center">
        <div class="text-lg font-bold">
            <h1 href="/" class="hover:text-gray-200">Bienvenido a mi Pre-Entrega 3</h1>
        </div>
        <div class="space-x-4">
            <a href="/products" class="hover:text-gray-200">Products</a>
            <a href="/newProducts" class="hover:text-gray-200">New Products</a>
        </div>
    </nav>
</header>